.row
  .large-3.columns.large-centered
    %h1 Login
    - if flash[:notice]
      .alert-box.alert= flash[:notice]
    = form_tag '/login' do
      = label_tag 'Username', nil, :for => 'username'
      = text_field_tag 'username', nil, :placeholder => 'Your Username'
      = label_tag 'Password', nil, :for => 'password'
      = password_field_tag 'password', nil, :placeholder => 'Your Password'
      = submit_tag "Login", :class => 'button secondary'